# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Homework6.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\igri-\Desktop\CSHARP\Homework6\Homework6\.idea\.idea.Homework6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
